    <div class="container">
        <div class="bg-banner text-center col-md-12 mb-2">
            <span class="mb-0 bannertext speedfont">Jetset Szkraper</span>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <a href="/scrape"><button class="btn btn-lg btn-block btn-dark">SKRAPE IT!</button></a>
            </div>
            <div class="col-md-6">
                <button class="btn btn-lg btn-block btn-light">VIEW NOTES</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 mt-3">
                {{#each things}}
                <div class="mt-2">
                    <div class="text-center"><img src="{{this.image}}" /></div><br/>
                    <h3>{{this.title}}</h3><br/>    
                    <p>{{this.summary}}</p><br/>
                    <a href="https://www.gsmarena.com/{{this.link}}" class="btn btn-block btn-primary" role="button">View Full Article</a>
                    <button class="clickybutton btn btn-block btn-warning" data-id="{{this._id}}">Add a Note</button><br/>
                </div>
                {{/each}}
            </div>
            <div class="col-md-6" id="notes"></div>
        </div>
    </div>
{{!-- 
        const displayArticles = "<h3>Article " + i + "</h3><br/><img src='" + data[i].image + "' /><br /><p data-id='" + data[i]._id + "'>" + data[i].title + "<br />" + 'https://www.gsmarena.com/' + data[i].link + "<br/>" + data[i].summary + "</p><br />"; --}}
